* {
  margin: 0;
  padding: 0;
}

/* header-section */
.header {
  background-color: rgb(244, 234, 214);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 0;
}
.nav-heading {
  margin-left: 30px;
}
.links {
  margin-right: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
.header-elements {
  text-align: center;
  padding-top: 5%;
}
.header-title {
  width: 50%;
  margin: auto;
  margin-top: 10px;
}
.header-btn {
  padding: 12px;
  margin: 20px 0;
  border-radius: 5px;
  background: orange;
  color: white;
  border: none;
  font-weight: bolder;
}
.banner {
  margin-top: 20px;
  height: 350px;
  width: 750px;
  border-radius: 8px;
  margin: 20px 0;
}

/* Second-Section */
.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  width: 70%;
  margin: 10% auto;
}
.persons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.article-btn {
  padding: 12px;
  margin: 20px 0;
  border-radius: 5px;
  background: orange;
  color: white;
  border: none;
  font-weight: bolder;
}

/* Third-Section */
.third-section {
  display: flex;
  width: 75%;
  margin: auto;
}
.card {
  padding: 20px 0;
  width: 50%;
  box-shadow: 2px 2px 4px #e7e4e4;
  border-radius: 5px;
  margin-top: 15px;
}

/* Fourth-Section */
.fourth-section {
  margin: 10% 0;
}
.fourth-elements {
  padding: 5% 10%;
}
.icons {
  display: flex;
  justify-content: space-evenly;
}
.icon {
  border: 1px solid rgb(220, 146, 9);
  border-radius: 5px;
  text-align: center;
  background: rgb(241, 241, 238);
  padding: 10px;
}

/* Extra-Section */
.extra-section {
  background-color: rgb(64, 147, 119);
  color: aliceblue;
  text-align: center;
  padding: 3% 0;
  margin-bottom: 10%;
}
hr {
  width: 50%;
  margin: auto;
}
.team {
  display: flex;
  justify-content: space-evenly;
  color: aliceblue;
  margin-top: 10%;
}

/* Last-Section */
.last-section {
  margin: 10%;
}

.last-elements {
  text-align: center;
}
.sponsors {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

/* Footer */
footer {
  background-color: antiquewhite;
  width: 75%;
  margin: 2% auto;
}
.footer-element {
  text-align: center;
  padding: 2% 0;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  .header {
    width: full;
  }
  .navbar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    color: rgb(19, 19, 19);
    position: relative;
    font-weight: 900;
  }
  .links {
    display: block;
    width: 60px;
    margin: auto;
  }
  .header-title {
    margin-top: 5%;
  }

  .banner {
    width: 100%;
    height: auto;
  }
  .persons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .second-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 50%;
    margin: auto;
    margin-top: 20%;
  }
  /* Third */
  .third-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
    margin: 15% auto;
  }

  .cards {
    width: 70%;
    margin: 5% auto;
  }

  /* Fourth */
  .fourth-section {
    text-align: center;
    margin: 30% 0;
  }
  .icons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 50%;
    margin: auto;
    gap: 5%;
  }

  /* last */
  .last-section {
    margin-bottom: 45%;
  }
  .sponsors {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15%;
    width: 50%;
    margin: 10% auto;
  }

  /* Footer */
  footer {
    margin-bottom: 15%;
  }
}
