* {
  margin: 0;
  padding: 0;
}

/* header-section */
.header {
  background-color: rgb(244, 234, 214);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 0;
}
.nav-heading {
  margin-left: 30px;
}
.links {
  margin-right: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
.header-elements {
  text-align: center;
  padding-top: 5%;
}
.header-title {
  width: 50%;
  margin: auto;
  margin-top: 10px;
}
.header-btn {
  padding: 12px;
  margin: 20px 0;
  border-radius: 5px;
  background: orange;
  color: white;
  border: none;
  font-weight: bolder;
}
.banner {
  margin-top: 20px;
  height: 350px;
  width: 750px;
  border-radius: 8px;
  margin: 20px 0;
}

/* Second-Section */
.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin: 10% 0;
}
.persons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

/* Third-Section */
.third-section {
  display: flex;
}
.card {
  padding: 20px 0;
  width: 50%;
  box-shadow: 2px 2px 4px #e7e4e4;
  border-radius: 5px;
  margin-top: 15px;
}

/* Fourth-Section */
.fourth-section {
  margin: 10% 0;
}
.fourth-elements {
  padding: 5% 10%;
}
.icons {
  display: flex;
  justify-content: space-evenly;
}
.icon {
  border: 1px solid rgb(220, 146, 9);
  border-radius: 5px;
  text-align: center;
  background: rgb(241, 241, 238);
  padding: 10px;
}

/* Extra-Section */
.extra-section {
  background-color: rgb(64, 147, 119);
  color: aliceblue;
  text-align: center;
  padding: 3% 0;
  margin-bottom: 10%;
}
hr {
  width: 50%;
  margin: auto;
}
.team {
  display: flex;
  justify-content: space-evenly;
  color: aliceblue;
  margin-top: 10%;
}

/* Last-Section */
.last-section {
  margin: 10%;
}

.last-elements {
  text-align: center;
}
.sponsors {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

/* Footer */
footer {
  background-color: antiquewhite;
  width: 75%;
  margin: auto;
}
.footer-element {
  text-align: center;
  padding: 2% 0;
}
